@model IEnumerable<HoneySaleDAL.DeliveryDetail>
@{
    ViewBag.Title = "DeliveryDetail Listing";
    Layout = "~/Views/Shared/_MasterPage.cshtml";

}

<style>
    tfoot {
        display: table-header-group;
    }
</style>

<script type="text/javascript">
    $(document).ready(function () {

        $('#FromDate').datepicker({
            dateFormat: 'dd-M-yy',
            changeYear: true, changeMonth: true,
        });

        $('#ToDate').datepicker({
            dateFormat: 'dd-M-yy',
            changeYear: true, changeMonth: true,
        });


        $('#dataTables-example tfoot th').each(function () {
            var title = $(this).text();
            $(this).html('<input type="text" />');
        });


        var table = $('#dataTables-example').DataTable({ "sPaginationType": "full_numbers" });

        table.columns().every(function () {
            var that = this;

            $('input', this.footer()).on('keyup change', function () {
                if (that.search() !== this.value) {
                    that
                        .search(this.value)
                        .draw();
                }
            });
        });

        $("#go").on("click", function () {
            var f = new Date($("#FromDate").val());
            var t = new Date($("#ToDate").val());
            if ($("#FromDate").val() == "" && $("#ToDate").val() == "" && $("#CustomerNames").val() == "") {
                alert("Please select proper filters");
                return false;
            }

            else if (($("#FromDate").val() == "" || $("#ToDate").val() == "") && $("#CustomerNames").val() != "") {
                alert("Please select proper date range");
                return false;
            }
            else if (f != null && t != null) {
                if ((f > t || t < f) && $("#CustomerNames").val() != "") {
                    alert("From date should be smaller than to date");
                    return false;
                }
                else if ((f > t || t < f) && $("#CustomerNames").val() == "") {
                    alert("From date should be smaller than to date");
                    return false;
                }
            }
        });

    });

</script>


<section class="content-header">
    <h1 class="headingfont">Delivery Detail Report</h1>

</section>
<section class="content">
    <div class="row no-margin" style="margin-bottom:5px !important;">
        @using (Html.BeginForm("DeliveryDetailReport", "DeliveryDetail", FormMethod.Post))
        {
            <div class="col-md-3">
                <label class="headinglabel">From Date</label>
                @Html.TextBox("FromDate", "", new { @class = "form-control", @autocomplete = "off" })

            </div>
            <div class="col-md-3">
                <label class="headinglabel">To Date</label>
                @Html.TextBox("ToDate", "", new { @class = "form-control", @autocomplete = "off" })

            </div>
            <div class="col-md-3">
                <label class="headinglabel">Customer</label>

                @Html.DropDownList("CustomerNames", @ViewBag.CustomerNames as SelectList, "", new { @class = "form-control txttarget" })
            </div>

            <div class="col-md-3">
                <label class="headinglabel"> </label>
                <input type="submit" value="Go" id="go" class="btn btn-default" style="margin-top:22px" />

            </div>

        }
        @using (Html.BeginForm("Export", "DeliveryDetail", FormMethod.Post))
        {
            <input type="Submit" value="Export To Excel" id="export" class="btn btn-default" style="margin-top:22px" />
        }


    </div>

    @if (ViewBag.SuccessMsg != null)
    {
        <script type="text/javascript">
         $(document).ready(function () {
             $.notify("@ViewBag.SuccessMsg ", "success");
         });
        </script>
    }
    <div class="table-responsive tblbackground" style="padding:15px">
        <table class="table table-responsive table-bordered tblfont" id="dataTables-example">
            <thead>
                <tr>
                    <th>
                        @Html.Label(" Delievry Date")
                    </th>
                    <th>
                        @Html.Label("Bill No")
                    </th>
                    <th>
                        @Html.Label("Kg")
                    </th>
                    <th>
                        @Html.Label("Name of Customer")
                    </th>
                    <th>
                        @Html.Label("Amount")
                    </th>
                    <th>
                        @Html.Label("BALANCE")
                    </th>
                    <th>
                        @Html.Label("Filled Cylinders")
                    </th>
                    <th>
                        @Html.Label("Empty Cylinders")
                    </th>
                    @*<th>
                            @Html.Label("Total")
                        </th>*@
                    <th>
                        @Html.Label("Discount")
                    </th>
                    <th>
                        @Html.Label("Sgst")
                    </th>
                    <th>
                        @Html.Label("Cgst")
                    </th>
                </tr>
            </thead>

            <tfoot>
                <tr>
                    <th>
                        @Html.Label(" Delievry Date")
                    </th>
                    <th>
                        @Html.Label("Bill No")
                    </th>
                    <th>
                        @Html.Label("Kg")
                    </th>
                    <th>
                        @Html.Label("Name of Customer")
                    </th>
                    <th>
                        @Html.Label("Amount")
                    </th>
                    <th>
                        @Html.Label("BALANCE")
                    </th>
                    <th>
                        @Html.Label("Filled Cylinders")
                    </th>
                    <th>
                        @Html.Label("Empty Cylinders")
                    </th>
                    @*<th>
                            @Html.Label("Total")
                        </th>*@
                    <th>
                        @Html.Label("Discount")
                    </th>
                    <th>
                        @Html.Label("Sgst")
                    </th>
                    <th>
                        @Html.Label("Cgst")
                    </th>
                </tr>
            </tfoot>


            <tbody>
                @if (Model != null)
                {
                    foreach (var item in Model)
                    {
                        <tr>
                            <td>
                                @HoneySale.Models.CommonFunction.GetShortDayFormat(item.C_deliveryDate)
                            </td>
                            <td>
                                @Html.DisplayFor(modelItem => item.voucherNo)
                            </td>
                            <td>
                                @Html.DisplayFor(modelItem => item.CylinderMaster.cylinderType)
                            </td>
                            <td>
                                @Html.DisplayFor(modelItem => item.CustomerDetail.companyName)
                            </td>
                            <td>
                                @Html.DisplayFor(modelItem => item.totalAmount)
                            </td>
                            <td>
                                @Html.DisplayFor(modelItem => item.balanceAmount)
                            </td>
                            <td>
                                @Html.DisplayFor(modelItem => item.filledCylinder)
                            </td>
                            <td>
                                @Html.DisplayFor(modelItem => item.emptyCylinder)
                            </td>
                            <td>
                                @Html.DisplayFor(modelItem => item.CustomerDetail.discount)

                            </td>
                            <td>
                                @Html.DisplayFor(modelItem => item.sgst)
                            </td>
                            <td>
                                @Html.DisplayFor(modelItem => item.cgst)
                            </td>

                        </tr>
                    }
                }
            </tbody>
        </table>
    </div>
</section>


<script type="text/javascript">


</script>